:root {
    --soft-red: hsl(10, 79%, 65%);
    --cyan: hsl(186, 34%, 60%);
    /*Neutral*/
    --dark-brown: hsl(25, 47%, 15%);
    --medium-brown: hsl(28, 10%, 53%);
    --cream: hsl(27, 66%, 92%);
    --very-pale-orange: hsl(33, 100%, 90%);
}

body {
    display: grid;
    min-height: 100svh;
    width: 100svw;
    background-color: var(--cream);
    container: body / inline-size;
    margin: 0;
}

main {
    display: grid;
    min-height: 100cqh;
    width: 100cqw;
    container: main / inline-size;
    place-items: center;

}


